@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: "TikTok Sans", sans-serif;
}

.ytp-gradient-top {
  display: none !important;
}

.ytp-chrome-top,
.ytp-show-cards-title {
  display: none !important;
}
